.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
}

.navigation {
  display: flex;
  align-items: center;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__link {
  color: white;
  font-family: 'Ubuntu';
  font-size: 13px;
  text-transform: uppercase;

}

.menu__item {
  display: flex;
  align-items: center;
  margin-right: 1px;
}

.menu__item::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 15px;
}

.menu__item:last-child::after {
  display: none;
}