.title {
  font-size: 72px;
  color: #f9b43b;
  font-family: 'Gagalin-Regular';
  margin-bottom: 45px;

  &--thebest {
    color: #2f3234;
    margin-top: 23px;
  }

  &--take {
    margin-bottom: 0;
    margin-top: 70px;
  }
}



